<template>
  <div id="app">
    <sidebar></sidebar>
    <pad></pad>
  </div>
</template>

<script>
import Pad from './components/Pad'
import Sidebar from './components/Sidebar'

export default {
  name: 'app',
  components: {
    Pad,
    Sidebar
  }
}
</script>

<style>
  body, html {
    margin: 0; padding: 0; height: 100%; box-sizing: border-box;
  }

  *::-webkit-scrollbar {
    width: .2em;
  }
  
  *::-webkit-scrollbar-track {
    background-color: #1a1a1a;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #666;
    outline: 1px solid slategrey;
  }

  * {
    background: #1a1a1a;
    color: #e2e2e2;
  }

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    display: flex;
    height: 100%;
  }
</style>
